<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Books</title>
	<link rel="stylesheet" href="../public/styles/home.css" />
</head>
<body>
	<header class="header">
		<div class="container">
			<span class="header__title">
				<a href="#">InBks</a>
			</span>
			<nav class="header__nav">
				<a href="#about">О нас</a>
				<a href="./books.html">Поиск литературы</a>
			</nav>
		</div>
	</header>
	<div class="welcome">
		<div class="container">
			<div class="welcome__quote">
				<p class="welcome__quote--text">
					«Каждый хочет быть не таким как все, выделяться в толпе, в достижениях, хотя бы в фантазиях. Каждый в тайне мечтает
					открыть в себе чуть больше, чем есть на самом деле. Каждый легко может приукрасить свою жизнь и найти оправдания любым
					своим делам. Реалии жизни, в которой лишь маленькая часть — поступки, а все остальное — демагогия, красивые россказни
					душевной бедности, украденной картинки, под которой провал пустоты. Все мы умеем быть настоящими героями на словах,
					оставаясь в жизни просто людьми. И иногда кажется, что быть другим, быть исключительным, быть избранным — это счастье.
					Но только человек, которому выпала странная затейливая судьба — родиться зрячим в мире слепых — разбил все зеркала, взял
					осколок и сам вырезал себе глаза. Чтобы стать, как все».
				</p>
				<span class="welcome__quote--author">
					<i> - А. Квотион. «Слово, которого нет»</i>
				</span>
			</div>
			<img
				class="welcome__photo"
				src="https://images.saatchiart.com/saatchi/788353/art/2714876/1784769-HSC00001-7.jpg"
				alt="woman with book"
			/>
		</div>
	</div>
	<section class="about" id="about">
		<div class="container">
			<h2 class="section--title">О нас</h2>
			<p class="about__description">
				«InBks» — небольшой локальный магазин в самом центре улицы Московская в Кирове. Это особенное место со своим
				духом и уникальной атмосферой, все сотрудники работают у нас подолгу, знают постоянных гостей в лицо и чувствуют
				себя
				как дома. А совладельцы принимают полноценное участие в работе магазина и нередко их можно встретить за стойкой.
				Наша специализация — академический и популярный нон-фикшн по философии, языкознанию, истории, социологии, антропологии,
				искусствоведению и прочим гуманитарным наукам.
			</p>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			
		</div>
	</footer>
</body>
</html>